/* 
these styles apply base styles to index.html
but all components will be styled using styled-components
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    height: 100%;
    font-family: 'Barlow', sans-serif;
}
body {
    height: 100%;
}
main {
    height: 100%;
}